body,
html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
}

.halfCircleRight {
  height: 16px;
  width: 8px;
  border-radius: 0 90px 90px 0;
  background: #2E2E2E;
  display: inline-block;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 1fr;
      grid-template-columns: 1.3fr 1fr;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container .left {
  background-color: #F5F5F5;
  padding: 4rem;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.container .left .halfCircleRight {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.container .left .content {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}

.container .left .content .titles {
  width: 100%;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.container .left .content .titles .title__item {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  position: absolute;
  background-color: #F5F5F5;
  top: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 100%;
}

.container .left .content .titles .title {
  font-size: 48px;
  font-weight: bolder;
}

.container .left .content .texts {
  height: 90px;
  overflow: hidden;
  width: 300px;
  position: relative;
}

.container .left .content .texts .texts__item {
  width: 100%;
  height: 100%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  position: absolute;
  background-color: #F5F5F5;
}

.container .left .content .texts .text {
  font-size: 12px;
  color: #595959;
  color: red;
}

.container .left .brand {
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bolder;
}

.container .right {
  width: 100%;
  height: 100%;
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.container .right .img-cont {
  background-color: #1A1A1A;
  position: relative;
}

.container .right .img-cont .fading-div {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.container .right .img-cont .fading-div-extra::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FF2A0D;
  -webkit-animation-name: images-bg-color-change;
          animation-name: images-bg-color-change;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.container .right .img-cont .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 50%;
  z-index: 100;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 80%;
}

.container .right .img-cont .container img {
  position: absolute;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.container .right .right-nav {
  color: #FFBEB6;
  background-color: #FF2A0D;
  text-align: center;
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
}

.container .right .right-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container .right .right-nav ul li {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding: 40px 0;
  font-size: 14px;
}

.container .right .right-nav .radios {
  position: relative;
  bottom: 0;
}

.container .icons i {
  background-color: #FF5B2D;
  padding: 7px;
  border-radius: 110%;
  overflow: hidden;
  font-size: 8px;
  color: white;
}

.container .icons i:hover {
  cursor: pointer;
}

@-webkit-keyframes second-img-animation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes second-img-animation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes images-bg-color-change {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}

@keyframes images-bg-color-change {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}

@-webkit-keyframes fadeToTop {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeToTop {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.zIndex-1 {
  z-index: 1;
}

.zIndex-2 {
  z-index: 2;
}
/*# sourceMappingURL=main.css.map */